.add-button{
  margin:auto;
}
.my-list-style{
  border-top: 1px solid #eee;
  height:53px;
  margin:3px 0;
}
.my-list-image{
  margin-top:3px;
  border-radius: 25px;
  width:50px;
  height:50px;
}
.my-list-text{
  text-align: center;
  max-height: 20px;
  overflow: visible;
}
.maker-font{
  font-size:x-small;
  color:dimgray;
  padding:0 1px;
  width:18%;
  margin:auto;
}
.name-font{
  font-size: x-small;
  font-weight: 900;
  padding:0 1px;
  width: 33%;
  margin:auto;
}
.review-font{
  font-size: small;
  font-weight: bold;
  margin:auto;
  padding:0 1px;
  width: 25%;
}
.button-style{
  width: 5%;
  padding:0 1px;
}
