
<p style="text-align: center">등록하고자 하는 화장품을 검색해주세요</p>

<div style="text-align:center;">
  <img src="images/my-search.png" style="width: 30%; height: 30%; margin-bottom: 10px">
</div>

<p style="text-align: center">자신만의 사진을 등록해주세요</p>

<input type="file" style="width: 70%; margin: auto;">

<div class="container" style="margin-bottom: 50px; padding :0">
  <p style="text-align: center">개봉 날짜를 선택해 주세요</p>

  <div style="text-align:center;">
    <input type="text" style="width: 70%; ">
  </div>

  <p style="text-align: center">리뷰를 등록해 주세요</p>
  <div style="text-align:center;">
    <input type="text" style="width: 70%;">
  </div>
  <div class="row" style="text-align:center; margin-top: 5px;">
    <button type="button" style="padding: 0px 20px;">등록</button>
    <button type="button" style="padding: 0px 20px;">취소</button>
  </div>

</div>
