<div style="text-align:center;">
  <a href="#/my-add">
    <img src="images/my-plus.png" style="width: 30%; height: 30%; margin-bottom: 10px">
  </a>
</div>

<p style="text-align: center">파우치에 화장품을 등록해 보세요</p>

<div class="container" style="margin-bottom: 50px; padding :0">
  <div class="row">
    <div class="">
      <div class="">
        <ul class="list-group">
          <li href="#" ng-repeat="repo in repos" class="my-list-style">
            <img class="pull-left my-list-image"  src="images/{{repo.image}}">
              <div>
                <div class="pull-left maker-font">{{repo.maker}}
                </div>
                <div class="pull-left name-font my-list-text">
                  {{repo.name}}
                </div>
                <div class="pull-left review-font my-list-text">
                  {{repo.review}}
                </div>
                <label class="pull-left button-style">
                  >
                </label>
              </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
