<md-card md-colors="::{backgroundColor: '{{theme}}-primary-700'}">

  <div style="align-content: center">
    <img src="../images/man.png">
  </div>
  <md-card-title>
    <!--<md-card-title-media>
      <div class="md-media-sm card-media" layout md-colors="::{background: '{{theme}}-accent'}">
        <md-icon md-svg-icon="person"></md-icon>
      </div>
    </md-card-title-media>-->

    <md-card-title-text>
      <span class="md-headline">{{name}}님 환영합니다.</span>
      <span class="md-subhead description" style="text-decoration-color: wheat">Lv.{{theme}}</span>
      <span class="md-subhead description">최근 파우치에 이런것들이 등록 되었어요 <md-icon md-svg-icon="../svg/share.svg"></md-icon></span>
    </md-card-title-text>
  </md-card-title>
</md-card>
